  //...........................colors......................................
$firstColor: #FBF6F6;
$colorTextHome: black;
$colorTextOther: #707070;

  //...........................Text sizes......................................
  $fontSizeArray: (
      for40px: 4rem,
      for30px: 3rem,
      for25px: 2.5rem,
      for20px: 2rem,
      for15px: 1.5rem,
  );

  //...........................common style......................................
  body{
    font-family: 'Segoe UI', sans-serif;
    background: $firstColor;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 10px;
}

h1{
    margin: 0;
    padding: 0;
}

.titlePage{
  font-size: map-get($fontSizeArray, for25px);
  font-weight: normal;
  margin-bottom: 5rem;
}

@mixin verticalCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerPage {
  @include verticalCenter;
  flex-direction: column;
  height: 100vh;
}