.home{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(10deg, $firstColor, transparent 120%),  url("../../media/kid-accueil.jpg");
    background-position: center;
}

.home-body{
    h1{
        font-weight: normal;
        color: $colorTextHome;
        font-size: map-get($fontSizeArray, for40px);
    }
}