.pricesPage{
    @include centerPage;
    color: $colorTextOther;
    ul{
        width: 50%;
        li{
            display: block;
            font-size: map-get($fontSizeArray, for15px);
            text-decoration: none;
            margin-bottom: 1rem;
        }
    }
}